<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Confirm your email address</h2>
    <p>
      There’s one quick step you need to complete before creating your Twitter account. Let’s make sure this is the right email address for you — please confirm this is the right address to use for your new account.
    </p>
    <p>
      Please enter this verification code to get started on Twitter:
    </p>
    <h1><%= @code %></h1>
    <p>Verification codes expire after two hours.</p>
    <p>Thanks, twitter.</p>
  </body>
</html>