<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Confirm the code to log in </h2>
    <p>
      Please enter this verification code to sucessfully log in in Twitter:
    </p>
    <h1><%= @code %></h1>
    <p>Verification codes expire after 5 minutes.</p>
    <p>Thanks, twitter.</p>
  </body>
</html>