$gray-font: #8899a6;
$gray-font-hover: #192734;
$comment-color: #1da1f2;
$retweet-color: #17bf63;
$like-color: #e0245e;

.new-tweet-main-container {
  background-color: #15202b;
  display: flex;
  padding: 15px;
  flex-direction: row;
  border-bottom: 10px solid #253341;

  .tweet-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tweet-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    //max-height: 180px;
    textarea {
      background-color: #15202b;
      border: none;
      outline: none;
      resize: none;
      font-size: 19px;
      margin-left: 15px;
      color: white;
      overflow-y: hidden;
      margin-bottom: 10px;
    }
  }

  .btn-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    * {
      margin-left: 15px;
    }
    button {
      width: 70px;
      height: 40px;
      border-radius: 20px;
    }
    .progress-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      .progress-bar {
        margin: 0;
        height: 20px;
        width: 20px;
        transition: 0.1s;
        &.warning {
          @extend .progress-bar;
          height: 30px;
          width: 30px;
        }
      }
    }
    .divider {
      width: 1px;
      height: 80%;
      border-right: 1px solid $gray-font;
    }
  }

  .img-zone {
    padding-left: 15px;
    padding-top: 15px;
    img {
      max-width: 150px;
      max-height: 150px;
      height: 100%;
      width: 100%;
    }
  }

  #button-image {
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    img {
      margin-left: -1px;
      margin-top: 1px;
      height: 25px;
      width: 25px;
    }

    &:hover {
      background-color: rgba($color: $gray-font, $alpha: 0.1);
    }
  }

  .modal {
    position: absolute;
    top: 0;
  }
}
