.password-reset-main-container {
  height: 100vh;
  width: 100vw;
  background-color: #15202b;
  h1 {
    font-size: 28px;
  }
  .box-center {
    width: 590px;
    color: white;
    align-self: center;
  }
  .header-container {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom-width: thin;
    border-bottom: solid;
    border-bottom-color: #2a2d2f;
    margin-bottom: 20px;
    .box-center {
      display: flex;
      align-items: center;
    }
    .header-logo {
      width: 22px;
      margin-right: 10px;
    }
    span {
      color: #a0978b;
    }
  }

  .profile-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    img {
      width: 48px;
      margin-right: 15px;
      border-radius: 100px;
    }
    .name {
      font-weight: bold;
    }
  }

  .begin-reset {
    display: flex;
    flex-direction: column;
    .box-center {
      h1 {
        margin-bottom: 30px;
      }
      .prompt {
        font-size: 14px;
      }
      .simple-input {
        margin-top: 25px;
        width: 300px;
      }
      .button-filled {
        width: 80px;
        height: 34px;
        margin-top: 25px;
      }
    }
  }

  .send-reset {
    display: flex;
    flex-direction: column;
    .box-center {
      display: flex;
      flex-direction: column;
      h1 {
        margin-bottom: 30px;
      }
      .prompt {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .radio-container {
        margin-bottom: 10px;
        input {
          margin-right: 5px;
        }
      }
      .button-filled {
        width: 95px;
        height: 34px;
        margin-top: 10px;
      }
    }
  }

  .reset-email-sent,
  .reset-complete {
    display: flex;
    flex-direction: column;
    .box-center {
      display: flex;
      flex-direction: column;
      h1 {
        margin-bottom: 30px;
      }
      .info {
        font-size: 14px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-top: 20px;
        }
      }
      b {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .simple-input {
        width: 320px;
        margin-bottom: 10px;
      }
      .button-filled {
        width: 95px;
        height: 34px;
        margin-top: 10px;
      }
      Link {
        color: #1da1f2;
      }
    }
  }
  .confirm-pin {
    @extend .reset-email-sent;
    span {
      margin-bottom: 20px;
    }
  }
}
