<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Reset your password?</h2>
    <p>
      If you requested a password reset for your account, click the link below. If you didn't make this request, ignore this email.
    </p>
    <a href= <%= @link %>>Password reset link</a>
  </body>
</html>